@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.hide-scrollbar {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}