@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #121111;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.hide-scrollbar {
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}